.AccountView{
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.siteBody{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    padding: 10px;
    gap:10px;
    box-sizing: border-box;
}
.userPanel{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    overflow:auto;
}

.userProfile{
    background-color: white;
    flex:3.5;
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drawbtn{
    height:40px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding:10px;
    font-size: medium;
    color:#fff ;
    border-color: #0096FF;
    background-color: #0096FF;
    font-weight: 500;
    margin-top:3px;
}

.drawbtn:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color: #535353;
}

.userName{
    font-size: x-large;
}

.userMessages{
    display: flex;
    flex-direction: column;
    flex:8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-top: solid 1px #cdd4d8;;
    border-bottom: solid 1px #cdd4d8;;
    overflow-y: auto;
    gap:10px;
}

.logout{
    flex:1;
    display: flex;
    align-items: center;
}

.messagePanel{
    display: flex;
    flex-direction: column;
    flex:3.5;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    overflow:auto;
    padding: 10px;
    box-sizing: border-box;
    gap:10px;
}

.otherUserDescription{
    flex:1;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #cdd4d8;
    font-weight: 500;
    font-size: x-large;
    justify-content: space-between;
}

.close{
    height: 100%;
    background-color: transparent;
    border: none;
}

.conversation{
    box-sizing: border-box;
    padding-left:10px;
    padding-right: 10px;
    flex:10;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.newMessageField{
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    flex:1;
}

.newMessageInput{
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 90%;
    height: 100%;
    resize: none;
}

.newMessageInput:focus{
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.send{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .userPanel{
        display: none;
    }
    
}

@media screen and (min-width: 850px) {
    .logoutbtn{
        display: none;
    }
    
}