.AccountView{
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.siteBody{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    padding: 10px;
    gap:10px;
    box-sizing: border-box;
    background: rgb(190,225,246);
background: linear-gradient(0deg, rgba(190,225,246,1) 0%, rgba(255,255,255,1) 100%);
}
.userPanel{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    overflow:auto;
}

.editProfile{
    width: 100%;
    height:16px;
    display: flex;
    justify-content: flex-end;
}

.userPart{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.userProfile{
    background-color: white;
    flex:3.5;
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.drawbtn{
    height:40px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding:10px;
    font-size: medium;
    color:#fff ;
    border-color: #0096FF;
    background-color: #0096FF;
    font-weight: 500;
    margin-top:3px;
}

.drawbtn:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color: #535353;
}

.userName{
    font-size: x-large;
}

.userMessages{
    display: flex;
    flex-direction: column;
    flex:8;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-top: solid 1px #cdd4d8;;
    border-bottom: solid 1px #cdd4d8;;
    overflow-y: auto;
    gap:10px;
}

.logout{
    flex:1;
    display: flex;
    align-items: center;
}

.messagePanel{
    display: flex;
    flex-direction: column;
    flex:3.5;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    overflow:auto;
    padding: 10px;
    box-sizing: border-box;
    gap:10px;
}

@media screen and (max-width: 850px) {
    .userPanel{
        display: none;
    }
    
}

@media screen and (min-width: 850px) {
    .logoutbtn{
        display: none;
    }
    
}