.editView{
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: rgb(190,225,246);
    background: linear-gradient(0deg, rgba(190,225,246,1) 0%, rgba(255,255,255,1) 100%);
}

.editBody{
    display: flex;
    flex:1;
    justify-content: center;
}

.mainBlock{
    display: flex;
    flex:0.5;
    align-self: center;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    overflow:auto;
    padding: 40px;
}

.editHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.editPart{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
}

.editInput{
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 8px 8px 8px 16px;
    flex-basis: auto;
    width: 100%;
    flex:1;
    max-height: 70px;
}

.saveDataButton{
    padding:10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0096FF;
    background-color: #0096FF;
    border-radius: 16px;
    box-sizing: border-box;
    padding:8px;
    font-size: medium;
    color:#fff ;
    font-weight: 500;
    box-sizing: border-box;
    flex-basis: auto;
    width: 80%;
    flex:1;
    max-height: 70px;
}

.saveDataButton:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color:#535353
}