.webHeader{
    background-color: #fff;
    border-bottom: 1px solid #cdd4d8;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:24px;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}



.logbtn{
    height:40px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding:10px;
    font-size: medium;
    color:#fff ;
    border-color: #0096FF;
    background-color: #0096FF;
    font-weight: 500;
}

.logbtn:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color: #535353;
}

.logoutbtn{
    height:40px;
    width: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding:10px;
    font-size: medium;
    color:#fff ;
    border-color: #0096FF;
    background-color: #0096FF;
    font-weight: 500;
}

.logoutbtn:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color: #535353;
}

.webBody{
    background-color: #f6f6f6;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: row;
    padding: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    column-gap: 50px;
    flex-wrap: wrap;
    overflow: auto;
}


.siteDescription{
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px;
    box-sizing: border-box;
    flex: 1;
    font-size: xx-large;
    letter-spacing: 3px;
    overflow:auto;
    min-width: 380px;
}

.siteDescription {
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.siteDescription::-webkit-scrollbar { 
    display: none;  
}

.registerPart{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: #cdd4d8;
    background-color: #fff;
    border-radius: 16px;
    flex: 1;
    padding:40px;
    justify-content: center;
    align-content: space-between;
    min-width: 380px;
}

.register{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
}

.registerInput{
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 8px 8px 8px 16px;
    flex-basis: auto;
    width: 100%;
    flex:1;
    max-height: 70px;
}

.registerButton{
    padding:10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0096FF;
    background-color: #0096FF;
    border-radius: 16px;
    box-sizing: border-box;
    padding:8px;
    font-size: medium;
    color:#fff ;
    font-weight: 500;
    box-sizing: border-box;
    flex-basis: auto;
    width: 80%;
    flex:1;
    max-height: 70px;
}

.registerButton:hover{
    background-color:rgb(229, 244, 253);
    transition: 0.8s;
    color:#535353
}

@media screen and (max-width: 1000px) {
    .webBody {
        flex-direction: row;
        row-gap: 10px;
    }
    .siteDescription{
        min-width: 480px;
    }
}