  .overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .logContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .logForm{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .closeBtn{
    display: flex;
    align-self: flex-end;
  }

  .formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalContainer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
  }

  .login{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}

.loginInput{
  border-style: solid;
  border-width: 1px;
  border-color: #535353;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 8px 8px 8px 16px;
  flex-basis: auto;
  width: 100%;
  flex:1;
  max-height: 70px;
}

.loginButton{
  padding:10px;
  border-style: solid;
  border-width: 1px;
  border-color: #0096FF;
  background-color: #0096FF;
  border-radius: 16px;
  box-sizing: border-box;
  padding:8px;
  font-size: medium;
  color:#fff ;
  font-weight: 500;
  box-sizing: border-box;
  flex-basis: auto;
  width: 80%;
  flex:1;
  max-height: 70px;
}

.loginButton:hover{
  background-color:rgb(229, 244, 253);
  transition: 0.8s;
  color:#535353
}
  
  @media screen and (max-width: 500px) {
    .modalContainer {
      flex-direction: column;
      top: 0;
      left: 0;
      transform: none;
      width: 100%;
      height: 100vh;
    }
  }
